<div class="title">
  <h1>The Reg Express</h1>
</div>

<div class="targets">
  <div class="target">
    <h1>Matches:</h1>
    <p id="target_1">555-555-5555</p>
  </div>
  <div class="target">
    <h1>NOT:</h1>
    <p id="target_2">(555)555-5555</p>
  </div>
</div>

<div class="regex_input">
  <span>/</span><%= text_field_tag :regex %><span>/</span>
</div>

<div id="train">
  <p>The Reg Express</p>
</div>

<div id="tracks">
</div>

<div id="ground">
</div>

<div id="chasm">
</div>

<div id="section">
</div>

<div id="bridge">
</div>

<div id="depot">
  <p>Train Depot</p>
</div>
